.container{
	
	text-align: center;
	margin-top: 300px;
	overflow: hidden;
}

.button{

	display: inline-block;
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
	border: 2px solid #D20A0A;
	color: #fff200;
	padding: 30px 70px;
	position: relative;
	z-index: 1;
	transition: .36s;
	

}

.button:hover{
	color:#ffffff;
	
}

.button:after{

	content: "" ;
	position: absolute;
	width:50%;
	height: 100%;
	right: 0;
	bottom: -100%;
	background:#F64747;
	z-index: -1;
	transition: .36s;
	opacity: 0;
}


.button:hover:after{
		bottom:0;
		opacity: 1;
}

.button:before{
	content: "" ;
	position: absolute;
	
	top: -100%;
	left: 0;
	
	width:50%;
	height: 100%;
	background:#BF55EC;
	z-index: -1;
	transition: .36s;
	opacity: 0;
	
}
.button:hover:before{
		top:0;
		opacity: 1;
}